<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1 {
        font-family: "Arial Narrow", Arial, sans-serif
    }

    h1 {
        letter-spacing: 6px
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }
</style>
<!--<head class="w3-panel w3-center w3-opacity" style="padding:128px 8px">

        <h1 class="w3-xlarge">LINE ART</h1>
        <h1>by Jo Torres</h1>

        <div class="w3-padding-32">
            <div class="w3-bar w3-border">
                <a href="#" class="w3-bar-item w3-button">Home</a>
                <a href="#" class="w3-bar-item w3-button w3-light-grey">Posters</a>
                <a href="#" class="w3-bar-item w3-button">About</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small">Contact</a>
            </div>
        </div>
</head>-->
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px;">

    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity" style="padding:50px 8px">
        <h1 class="w3-xlarge">LINE ART</h1>
        <h1>by Jo Torres</h1>

        <div class="w3-padding-32">
            <div class="w3-bar w3-border">
                <a href="#" class="w3-bar-item w3-button">Home</a>
                <a href="#" class="w3-bar-item w3-button w3-light-grey">Posters</a>
                <a href="#" class="w3-bar-item w3-button">About</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small">Contact</a>
            </div>
        </div>
    </header>
<div style="width: 80%; margin: 0 auto; padding: 0; position: center">
    <!-- First Photo Grid-->
    <div class="w3-row-padding">
        <div>
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="billeder/1.jpg" alt="Norway" style="width:100%; border-style: solid" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>DKK 250,-</b></p>
                    <p>Girl with balloon.</p>
                </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="billeder/2.jpg" alt="Norway" style="width:100%;border-style: solid" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>DKK 200,-</b></p>
                    <p>All the faces.</p>
                </div>
            </div>
            <div class="w3-third w3-container">
                <img src="billeder/3.jpg" alt="Norway" style="width:100%; border-style: solid" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>DKK 250,-</b></p>
                    <p>Face on face</p>
                </div>
            </div>
        </div>

        <!-- Second Photo Grid-->
        <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="billeder/4.jpg" alt="Norway" style="width:100%; border-style: solid;" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>DKK 250,-</b></p>
                    <p>Beskrivelse af poster.</p>
                </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="billeder/5.jpg" alt="Norway" style="width:100%; border-style: solid" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>DKK 250,-</b></p>
                    <p>Beskrivelse af poster</p>
                </div>
            </div>
            <div class="w3-third w3-container">
                <img src="billeder/6.jpg" alt="Norway" style="width:100%;border-style: solid" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>DKK 250,-</b></p>
                    <p>Beskrivelse af poster.</p>
                </div>
            </div>

        </div>
    </div>
</div>
        <!-- Pagination -->
        <div class="w3-center w3-padding-32">
            <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div>
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <a href="https://www.instagram.com/_jotorres_/" class="fa fa-instagram w3-hover-opacity"></a>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"
                             class="w3-hover-text-green">w3.css</a></p>
        </footer>

</div>
</body>
</html>
